<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-4 col-lg-4 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-9 col-lg-8 col-xl-4 offset-xl-1">
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  
            <div class="divider d-flex align-items-center my-4">
            Bienvenido al sistema de TEF
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Nombre de usuario</label>

              <input formControlName="email" type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="tef@tef.com"  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />

                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                  <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                </div>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Contraseña</label>

              <input formControlName="password" type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="********"         [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                />
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']">Password is required</div>
                  <div *ngIf="f['password'].errors['minlength']">
                    Password must be at least 6 characters
                  </div>
                  <div *ngIf="f['password'].errors['maxlength']">
                    Pass must not exceed 40 characters
                  </div>
                </div>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Ingresar</button>
            </div>
  
          
  
          </form>
        </div>
      </div>
    </div>

  </section>