
        <div class="row">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-6">
                <form id="newAddreess" method="post">  
                    <div class="mb-3 ">
                        <label for="rutInput" class="form-label">Rut</label>
                        <input type="text" class="form-control" id="rutInput" placeholder="17731113-8">
                    </div>
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nameInput" placeholder="Fernando Ayala">
                    </div>
                    <div class="mb-3">
                        <label for="emailInput" class="form-label">Email</label>
                        <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="phoneInput" class="form-label">Teléfono</label>
                        <input type="number" class="form-control" id="phoneInput" placeholder="56 984632112">
                    </div>
                    <div class="mb-3">
                        <label for="bkInput" class="form-label">Banco de destino</label>
                        <select class="form-control" id="bkInput" >
                            <option>BCO ESTADO</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="accountInput" class="form-label">N° Cuenta</label>
                        <input type="number" class="form-control" id="accountInput" placeholder="17731113-8">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="form-control btn btn-success" id="btnCreate" >Crear destinatario</button>
                    </div>
                </form>

            </div>
            <div class="col-md-3"></div>
        </div>
        <br>
        <br>
       
    
